.institution__title{

}
.institution__period{
    display: inline-block;
}
.institution__start{
    display: inline-block;
}
.institution__end{
    display: inline-block;
}
.institution__start::after{
    content: '-';
}

.institution__rank{
    display: inline-block;
}

.institution__rank::before {
    content: "|";
}