.education__list{

}
.education__item{

}
.education__title{

}
.education__period{
    display: inline-block;
}
.education__start{
    display: inline-block;
}
.education__end{
    display: inline-block;
}
.education__start::after{
    content: '-';
}

.education__rank{
    display: inline-block;
}

.education__rank::before {
    content: "|";
}