@import-normalize;

:root {
  --color-text-first: #212121;
  --color-text-second: #ff9100;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
