.project__title {
  text-transform: capitalize;
}
.project__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__links {
}
.project__url {
  display: block;
  cursor: pointer;
}
.project__url_git {
  display: block;
  cursor: pointer;
}
.stack__list {
  display: inline-block;
  list-style-type: none;
}

.stack__list::before {
  content: "[ ";
}
.stack__list::after {
  content: " ]";
}
.stack__item {
  display: inline-block;
}

.stack__item:not(:last-child)::after {
  content: ", ";
}
